.breadcrumb-not-active {
	color: gray;
	font-weight: normal;
}

.breadcrumb-active {
	color: #539b05;
	font-weight: bold;
}

.breadcrumbs-slash {
	color: gray;
}

@media screen and (max-width: 600px) {
	.items:nth-child(1) {
		border-top: 1px solid rgba(255, 255, 255, 0.555);
	}

	.items {
		display: block;
		width: 100%;
		border-top: 1px solid rgba(255, 255, 255, 0.555);
		margin-right: 0px;
		padding: 5px;
	}

	.breadcrumbs-slash {
		display: none;
	}
}
